<%- include('../public/header')%>
<h1 class="Titulo">CoderHouse</h1>
<div>
  <div class="list_container"><%- include('./navBar') %></div>
  <div class="list_container"><%- include('./productTable') %></div>
  <hr />
  <div class="list_container"><%- include('./chat') %></div>
</div>
<%- include('../public/footer')%>
